<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khaatabook | hisaab</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div id="main" class="w-full h-screen sm:px-8 px-4">
        <%- include('./partials/navbar'); -%>

            <div class="show py-8 w-full">
                <div class="top flex flex-wrap gap-2 items-center">
                    <% if(hisaab.encrypted){ %>
                        <div class="flex items-center">
                            <button class="sm:px-4 px-3 py-1 mr-3 bg-blue-600 text-white cursor-default rounded"><i
                                    class="ri-lock-line"></i>
                                Encrypted</button>
                            <i class="ri-eye-off-line px-3 py-1 mr-2  rounded-md bg-zinc-300 text-zinc-600"></i>
                        </div>
                        <% }else {%>
                            <div class="">
                                <button class="sm:px-4 px-3 py-1 bg-green-600 text-white cursor-default rounded"><i
                                        class="ri-check-line"></i> Available</button>
                            </div>
                            <%}%>
                                <% if (!hisaab.encrypted) { %>
                                    <a href="/hisaab/share/<%= hisaab._id %>"
                                        class="share-link sm:px-4 px-3 py-1 rounded sm:mx-2 mx-2 cursor-pointer text-white bg-blue-500"
                                        data-link="<%= baseUrl %>/hisaab/<%= hisaab._id %>">
                                        <i class="ri-share-line"></i> share as a link
                                    </a>
                                    <% } %>

                                        <% if (deleteHisaab) { %>
                                            <a href="/hisaab/delete/<%= hisaab._id %>"
                                                class="sm:px-4 px-3 py-1 mr-2 bg-red-600 text-white rounded">Delete</a>
                                            <% } %>

                                                <% if (editHisaab) { %>
                                                    <a href="/hisaab/edit/<%= hisaab._id %>"
                                                        class="sm:px-4 px-3 py-1 mr-2 bg-orange-500 text-white rounded">Edit</a>
                                                    <% } %>

                </div>

                <p class="mt-2 text-zinc-400">Created on <span>
                        <%= hisaab.date.toISOString().slice(0,10).split('-').reverse().join('-') %>
                    </span></p>
                <h3 class="text-2xl font-semibold mt-3">
                    <%= hisaab.title %>
                </h3>
                <p class="mt-1">
                <pre class="font-sans text-xl leading-snug whitespace-pre-wrap"><%= hisaab.desc %></pre>
                </p>
            </div>

            <% if(successMessage) { %>
                <div id="flash-message"
                    class="error absolute left-1/2 -translate-x-[50%] top-12 sm:top-4 text-sm sm:text-base rounded bg-green-500 text-white sm:px-5 px-3 py-2 text-center ">
                    <%= successMessage %>
                </div>
                <% } %>
    </div>

    <script>
        document.querySelectorAll('.share-link').forEach(button => {
            button.addEventListener('click', function () {
                const link = this.getAttribute('data-link');
                if (link) {  // Ensure the link is not null
                    navigator.clipboard.writeText(link);
                } else {
                    alert('Failed to copy the link.');
                }
            });
        });

        setTimeout(() => {
            document.getElementById('flash-message').style.display = 'none';
        }, 3000);
    </script>
    <script src="/js/script.js"></script>

</body>

</html>